html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

#ui{
    position: absolute;
    top: 20px;
    left: 20px;
}

#canvasSize input{
    width: 205px;
    height: 100px;
    font-size: 70px;
    border-radius: 10px;
}

#offsets button{
    width: 100px;
    height: 100px;
    font-size: 70px;
    border-radius: 10px;
}

#textInput{
    width: 410px;
    height: 100px;
    font-size: 70px;
    border-radius: 10px;
}

#fontSize{
    width: 205px;
    height: 100px;
    font-size: 70px;
    border-radius: 10px;
}

#colors input{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}